/*File written by: Chevva,Meghana, Student ID: 1002114458*/ 
@font-face {
    font-family: equinox-regular;
    src: url('../fonts/EquinoxRegular.woff');
}

@font-face {
    font-family: equinox-bold;
    src: url('../fonts/EquinoxBold.woff');
}
html{
    background: url("../images/blackBackDrop.gif");
    background-attachment: fixed;
    background-size: cover;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
}
  .containerA {
    background-color: rgba(0, 0, 0, 0.584);
    border-radius: var(--button-radius);
    box-shadow:  inset 5px 5px 10px rgb(51, 51, 51), inset -5px -5px 10px rgb(39, 39, 39);
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1.5px solid #434343;
    width: 70%;
    margin: 5%;
    color: white;
    width: fit-content;
    height: fit-content;
  }
  .fieldsetA{
     background-color: #131313;
     border: 1.5px solid #434343;
     padding: 1% 1% 1%;
     margin-left: 3%;
     margin-right: 3%;
     font-size: 100%;
     text-align: justify;
     line-height: 150%;
     border-radius: var(--button-radius);
     color: white;
     height: max-content;
     width:90vw;
     display: flex;
     align-items: center;

  }
  .fcenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .legendA{
    width: max-content; 
    color: white;
    font-size: 130%;
    text-align: center;
    flex-wrap: nowrap; 
  }
  .TitleA{
    margin: 0%;
    background-color: rgba(0, 0, 0, 0.683); 
    margin-left: 1.5%;
  }

.formM{
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgba(18, 18, 18, 0.854);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    flex:1;
    width: 70%;
}

input{
    border-radius: 30px;
    padding: 1%;
    border: none;
    line-height: 100%;
    background-color: #2b2b2b;
    font-size: 100%;
    box-shadow: inset 4px 4px 5px rgb(65, 65, 65);
    color:white;
}
.inputFp{
        border-radius: 30px;
        padding: 2%;
        border: none;
        line-height: 100%;
        background-color: #2b2b2b;
        font-size: 100%;
        box-shadow: inset 4px 4px 5px rgb(65, 65, 65);
        color:white;
}
.input6{
    padding: 1%;
    border: none;
    line-height: 160%;
    background-color: #2b2b2b;
    font-size: 100%;
    box-shadow: inset 4px 4px 5px rgb(65, 65, 65);
    color:white;
    height: max-content;
}
.input2{
    display: flex;
    flex-direction: row;
    gap:2%;
}
.input22{
    flex:1;
}
.input3{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:320px) {
    .TitleA{
        font-size: 60%;
    }
    .legendA{
        font-size: 60%;
      }
    
}