.fieldsetDashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    
    flex-wrap: nowrap;
}
.dashboardfs{
    background-color: #131313;
}

.blocksDashboard {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    padding: 10px 10px;
    margin-bottom: 20px;
    gap: 20px;
}

.blocksDashboard > div {
    flex: 0 0 auto;
    width: 200px;
    min-width: 200px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(69, 69, 69);
    box-shadow: inset 2px 2px 5px rgb(137, 137, 137), inset -2px -2px 5px rgb(58, 58, 58);
}

.topLikedThesis{
    background-color: blue;
}
.alink{
    color: white;
}

@media screen and (max-width: 768px) {
    .blocksDashboard {
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    }

    .blocksDashboard::-webkit-scrollbar {
        display: none; /* For Chrome, Safari, and Opera */
    }

    .blocksDashboard > div {
        flex: 0 0 auto;
    }
}
